---
layout: layouts/lightbox-template.njk
title: Favourites
---

<img loading="lazy" src="\img\scottish-highlands\Isle-of-Rum.webp" alt="Showers over the isle of Rùm" data-caption="Showers over Rùm" width="1080" height="796">
<img loading="lazy" src="\img\scottish-highlands\Ben-Nevis.webp" alt="North face of Ben Nevis" data-caption="North face of Ben Nevis" width="1080" height="1440">
<img loading="lazy" src="\img\scottish-highlands\Moss.webp" alt="Moss" data-caption="Moss, Scottish Highlands" width="1080" height="1440">
<img src="/img/lake-district/Tree-Over-River.webp" loading="lazy" alt="Tree over river" data-caption="Tree over river, Lake District" width="1080" height="1440">
<img src="/img/lake-district/Derwent-Water-Boats-Sunset.webp" loading="lazy" alt="Derwent Water with boats at sunset" data-caption="Derwent Water at sunset" width="1080" height="1440">
<img src="/img/north-yorkshire-moors/Grouse-In-Heather.webp" loading="lazy" alt="Red grouse in heather on Round Hill" data-caption="Red grouse in heather on Round Hill, North York Moors" width="1080" height="1440">
<img src="/img/north-yorkshire-moors/Mushrooms.webp" loading="lazy" alt="Mushrooms" data-caption="Mushrooms, North York Moors" width="1080" height="810">
<img src="/img/north-yorkshire-moors/Lamb-Gate.webp" loading="lazy" alt="Lamb on Round Hill" data-caption="Lamb on Round Hill, North York Moors" width="1080" height="810">
<img loading="lazy" name="Puffin in flight" src="\img\rspb-bempton-cliffs\Puffin-In-Flight.jpg" alt="Puffin in flight" data-caption="Puffin in flight" width="1080" height="810">
<img loading="lazy" name="Gannets dancing 2" src="\img\rspb-bempton-cliffs\Gannet-Dance-2.jpg" alt="Gannets dancing" data-caption="Gannets dancing" width="1080" height="1440">
<img loading="lazy" name="Razzorbill in flight" src="\img\rspb-bempton-cliffs\Razorbill-In-Flight.jpg" alt="Razzorbill in flight" data-caption="Razzorbill in flight" width="1080" height="1080">
<img loading="lazy" name="Gannet collecting grass for nesting" src="\img\rspb-bempton-cliffs\Gannet-Collecting-Grass.jpg" alt="Gannet collecting grass for nesting" data-caption="Gannet collecting grass for nesting" width="1080" height="810">
<img loading="lazy" name="Puffins" src="\img\rspb-bempton-cliffs\Puffins.jpg" alt="Puffins" data-caption="Puffins" width="1080" height="810">
<img loading="lazy" src="\img\scotland\Priorsford-Bridge.jpg" alt="Priorsford Bridge, Peebles" data-caption="Priorsford Bridge, Peebles" width="1080" height="1350">
<img loading="lazy" src="\img\scotland\North-Berwick-Beach.jpg" alt="West Bay Beach, North Berwick" data-caption="West Bay Beach, North Berwick" width="1080" height="1350">
<img loading="lazy" src="\img\scotland\Eider-Duck.jpg" alt="Eider duck floating over waves, North Berwick" data-caption="Eider duck floating over waves, North Berwick" width="1080" height="810">
<img src="\img\pyrenees\Piau-Engaly-3.jpg" loading="lazy" alt="Bridge over Neste de Badet" data-caption="Bridge over Neste de Badet" width="1080" height="1350">
<img src="/img/vale-of-york/Horse.jpg" loading="lazy" alt="Horse in field with cobwebs" data-caption="Horse in field with cobwebs" width="1080" height="1441">
<img src="\img\yorkshire-dales\Goosander.jpg" loading="lazy" alt="Goosanders on the River Skirfare, Arncliffe" data-caption="Goosanders on the River Skirfare, Arncliffe" width="1080" height="1440">
<img src="\img\yorkshire-dales\Malham-Sunset.jpg" loading="lazy" alt="Sunset on top of Malham Cove" data-caption="Sunset on top of Malham Cove" width="1080" height="810">
<img src="\img\pyrenees\Rioumajou-5.jpg" loading="lazy" alt="Neste de Rioumajou" data-caption="Neste de Rioumajou" width="1080" height="810">
<img src="\img\yorkshire-dales\Hut.jpg" loading="lazy" alt="Stone hut near Kettlewell" data-caption="Stone hut near Kettlewell" width="1080" height="810">
<img src="\img\pyrenees\Gave-du-Marcadau-VW.jpg" loading="lazy" alt="VW campervan, Gave du Marcadau" data-caption="VW campervan, Gave du Marcadau" width="1080" height="1080">
<img src="\img\french-alps\Mountains-Panorama-Sunset.jpg" loading="lazy" alt="Les Dents du Midi at sunset" data-caption="Les Dents du Midi at sunset" width="1080" height="360">
<img src="/img/vale-of-york/Sunset.jpg" loading="lazy" alt="Tree in field at sunset" data-caption="Tree in field at sunset" width="1080" height="1350">
<img src="\img\french-alps\Dark-Green-Fritillary.jpg" loading="lazy" alt="Dark green fritillary" data-caption="Dark green fritillary" width="1080" height="810">
<img src="\img\pyrenees\Gave-du-Marcadau-1.jpg" loading="lazy" alt="Gave du Marcadau" data-caption="Gave du Marcadau" width="1080" height="810">
<img src="\img\french-alps\Stoat-Running.jpg" loading="lazy" alt="Stoat running in meadow" data-caption="Stoat running in meadow" width="1080" height="720">
<img src="/img/vale-of-york/Tawny-Owl-Gravestone.jpg" loading="lazy" alt="Tawny owl on a gravestone" data-caption="Tawny owl on a gravestone" width="1080" height="810">
<img src="\img\french-alps\Blackcap.jpg" loading="lazy" alt="Female blackcap" data-caption="Female blackcap" width="1080" height="810">
<img src="/img/vale-of-york/Bluebells-and-Barrels.jpg" loading="lazy" alt="Bluebells in front of rusty barrels" data-caption="Bluebells in front of rusty barrels" width="1080" height="810">
<img src="\img\pyrenees\Blues.jpg" loading="lazy" alt="Blues" data-caption="Blues" width="1080" height="720">
<img src="\img\pyrenees\Hummingbird-Hawkmoth.jpg" loading="lazy" alt="Hummingbird hawkmoth" data-caption="Hummingbird hawkmoth" width="1080" height="810">
<img src="\img\pyrenees\Black-Redstart.jpg" loading="lazy" alt="Black redstart" data-caption="Black redstart" width="1080" height="864">
<img src="/img/vale-of-york/Snowy-Crocus.jpg" loading="lazy" alt="Snowy crocus'" data-caption="Snowy crocus'" width="1080" height="810">
<img src="\img\pyrenees\Lac-de-Gobe.jpg" loading="lazy" alt="Lac de Gobe" data-caption="Lac de Gobe" width="1080" height="1440">
<img src="/img/vale-of-york/Frozen-Reeds.jpg" loading="lazy" alt="Frozen reeds with crow flying above" data-caption="Frozen reeds with crow flying above" width="1080" height="1440">
<img src="/img/vale-of-york/Snowy-Bridge.jpg" loading="lazy" alt="Bridge in snow" data-caption="Bridge in snow" width="1080" height="810">
<img src="/img/north-yorkshire-moors/Snow-on-the-Moors.webp" loading="lazy" alt="Snow on the moors" data-caption="Snow on the moors" width="1080" height="1080">