---
layout: layouts/lightbox-template.njk
title: French Alps
---

<img src="\img\french-alps\Dark-Green-Fritillary.jpg" loading="lazy" alt="Dark green fritillary" data-caption="Dark green fritillary">
<img src="\img\french-alps\Stoat-Standing.jpg" loading="lazy" alt="Stoat standing in meadow" data-caption="Stoat standing in meadow">
<img src="\img\french-alps\Hummingbird-Hawkmoth.jpg" loading="lazy" alt="Hummingbird hawkmoth" data-caption="Hummingbird hawkmoth">
<img src="\img\french-alps\Large-Wall-Brown.jpg" loading="lazy" alt="Large wall brown" data-caption="Large wall brown">
<img src="\img\french-alps\Stoat-Running.jpg" loading="lazy" alt="Stoat running in meadow" data-caption="Stoat running in meadow">
<img src="\img\french-alps\Garden-Warbler.jpg" loading="lazy" alt="Garden warbler" data-caption="Garden warbler">
<img src="\img\french-alps\Blackcap.jpg" loading="lazy" alt="Female blackcap" data-caption="Female blackcap">
<img src="\img\french-alps\Bee-Hives.jpg" loading="lazy" alt="Bee hives" data-caption="Bee hives">
<img src="\img\french-alps\Mushroom.jpg" loading="lazy" alt="Mushroom" data-caption="Mushroom">
<img src="\img\french-alps\Ibex.jpg" loading="lazy" alt="Ibex climbing cliff" data-caption="Ibex climbing cliff">
<img src="\img\french-alps\Traffic.jpg" loading="lazy" alt="Corvette waiting for farmer moving cows" data-caption="Corvette waiting for farmer moving cows">
<img src="\img\french-alps\Ibex-Scratching.jpg" loading="lazy" alt="Ibex scratching" data-caption="Ibex scratching">
<img src="\img\french-alps\Waterfall.jpg" loading="lazy" alt="Cascade Sur Bayard" data-caption="Cascade Sur Bayard">
<img src="\img\french-alps\Mushroom-Water-Droplets.jpg" loading="lazy" alt="Water droplets on a mushroom" data-caption="Water droplets on a mushroom">
<img src="\img\french-alps\Mountains-Panorama-Sunset.jpg" loading="lazy" alt="Les Dents du Midi at sunset" data-caption="Les Dents du Midi at sunset">
<img src="\img\french-alps\Thunder-Storm.jpg" loading="lazy" alt="Rainbow and thunder above chalet at sunset" data-caption="Rainbow and thunder above chalet at sunset">
<img src="\img\french-alps\Mountains.jpg" loading="lazy" alt="Mountains" data-caption="Mountains">
<img src="\img\french-alps\Path-and-Stream.jpg" loading="lazy" alt="Path next to stream" data-caption="Path next to stream">
<img src="\img\french-alps\Chalkhill-Blue.jpg" loading="lazy" alt="Chalkhill blue" data-caption="Chalkhill blue">
<img src="\img\french-alps\Cross.jpg" loading="lazy" alt="Lit up cross on top of mountain above Poligny" data-caption="Lit up cross on top of mountain above Poligny">
<img src="\img\french-alps\Cow-Drinking.jpg" loading="lazy" alt="Cow drinking from wooden trough" data-caption="Cow drinking from wooden trough">
<img src="\img\french-alps\Mountain-Through-Trees.jpg" loading="lazy" alt="Mont Chauff&#233;" data-caption="Mont Chauff&#233;">
<img src="\img\french-alps\Mushrooms-2.jpg" loading="lazy" alt="Mushrooms" data-caption="Mushrooms">
<img src="\img\french-alps\Mushrooms.jpg" loading="lazy" alt="Mushrooms" data-caption="Mushrooms">
<img src="\img\french-alps\Mountains-Panorama.jpg" loading="lazy" alt="Les Dents du Midi" data-caption="Les Dents du Midi">
<img src="\img\french-alps\Mushroom-Layers.jpg" loading="lazy" alt="Mushroom" data-caption="Mushroom">
<img src="\img\french-alps\Green-Veined-White.jpg" loading="lazy" alt="Green veined white" data-caption="Green veined white">
<img src="\img\french-alps\Misty-Trees.jpg" loading="lazy" alt="Trees in cloud" data-caption="Trees in cloud">
<img src="\img\french-alps\Misty-Trees-2.jpg" loading="lazy" alt="Trees in cloud" data-caption="Trees in cloud">
<img src="\img\french-alps\Misty-Mountain-2.jpg" loading="lazy" alt="Misty mountain" data-caption="Misty mountain">
<img src="\img\french-alps\Misty-Mountain-3.jpg" loading="lazy" alt="Misty mountain" data-caption="Misty mountain">
<img src="\img\french-alps\Misty-Mountain.jpg" loading="lazy" alt="Tour Salli&#232;re" data-caption="Tour Salli&#232;re">








