---
layout: layouts/lightbox-template.njk
title: Lake District
---

<img src="/img/lake-district/Derwent-Water-Boats-Sunset.webp" loading="lazy" alt="Derwent Water with boats at sunset" data-caption="Derwent Water at sunset" width="1080" height="">
<img src="/img/lake-district/Mossy-Stream.webp" loading="lazy" alt="Mossy stream" data-caption="Mossy Stream" width="1080" height="">
<img src="/img/lake-district/Cat-Bells.webp" loading="lazy" alt="Cat Bells" data-caption="Cat Bells" width="1080" height="">
<img src="/img/lake-district/Derwent-Water.webp" loading="lazy" alt="Derwent Water from Barrow" data-caption="Derwent Water from Barrow" width="1080" height="">
<img src="/img/lake-district/Causey-Pike.webp" loading="lazy" alt="Causey Pike, black and white" data-caption="Causey Pike" width="1080" height="">
<img src="/img/lake-district/Boat-Derwent-Water.webp" loading="lazy" alt="Blue boat on Derwent Water" data-caption="Boat on Derwent Water" width="1080" height="">
<img src="/img/lake-district/Safety-Boat.webp" loading="lazy" alt="Safety boat moored on Derwent Water in front of Skiddaw" data-caption="Safety Boat, Derwent Water" width="1080" height="">
<img src="/img/lake-district/Boats-in-Sunshine.webp" loading="lazy" alt="Boats in sunshine" data-caption="Boats in sunshine" width="1080" height="">
<img src="/img/lake-district/Rowing-Boats.webp" loading="lazy" alt="Rowing boats on a stoney beach" data-caption="Rowing Boats" width="1080" height="">
<img src="/img/lake-district/Gull-on-Boats.webp" loading="lazy" alt="Black headed gull on rowing boat" data-caption="Black headed gull on rowing boat" width="1080" height="">
<img src="/img/lake-district/Rocky-Stream.webp" loading="lazy" alt="Rocky stream" data-caption="Rocky stream" width="1080" height="">
<img src="/img/lake-district/Buttermere-Reflection.webp" loading="lazy" alt="Reflection on Buttermere with leaves on beach" data-caption="Reflection on Buttermere" width="1080" height="">
<img src="/img/lake-district/Burtness-Wood.webp" loading="lazy" alt="Burtness Wood" data-caption="Burtness Wood" width="1080" height="">
<img src="/img/lake-district/Hassness-Country-House.webp" loading="lazy" alt="Hassness Country House" data-caption="Hassness Country House" width="1080" height="">
<img src="/img/lake-district/Buttermere-Mellbreak.webp" loading="lazy" alt="Buttermere with Mellbreak in the background" data-caption="Buttermere with Mellbreak in the background" width="1080" height="">
<img src="/img/lake-district/Lonscale-Fell.webp" loading="lazy" alt="Lonscale Fell at sunset" data-caption="Lonscale Fell at sunset" width="1080" height="">
<img src="/img/lake-district/Dodd.webp" loading="lazy" alt="Dodd with Skiddaw in the background at sunset" data-caption="Dodd at sunset" width="1080" height="">
<img src="/img/lake-district/Dry-Stone-Wall.webp" loading="lazy" alt="Dry stone wall, looking towards Blencathra" data-caption="Dry stone wall, looking towards Blencathra" width="1080" height="">
<img src="/img/lake-district/View-from-Helvellyn.webp" loading="lazy" alt="View south from Helvellyn" data-caption="View south from Helvellyn" width="1080" height="">
<img src="/img/lake-district/Thirlmere.webp" loading="lazy" alt="Therlmere with mountains in background" data-caption="Therlmere" width="1080" height="">
<img src="/img/lake-district/Garden-Spider.webp" loading="lazy" alt="Garden spider wrapping up fly in web" data-caption="Garden spider" width="1080" height="">
<img src="/img/lake-district/Skiddaw-Slopes.webp" loading="lazy" alt="Scree on Skiddaws slopes" data-caption="Scree on Skiddaws slopes" width="1080" height="">
<img src="/img/lake-district/Mushrooms.webp" loading="lazy" alt="Mushrooms and moss" data-caption="Mushrooms and moss" width="1080" height="">
<img src="/img/lake-district/Moon-Rise.webp" loading="lazy" alt="Moon rise" data-caption="Monn rise" width="1080" height="">
<img src="/img/lake-district/Wooded-Valley.webp" loading="lazy" alt="Wooded valley, Borrowdale" data-caption="Wooded valley, Borrowdale" width="1080" height="">
<img src="/img/lake-district/Stonethwaite.webp" loading="lazy" alt="Stonethwaite" data-caption="Stonethwaite" width="1080" height="">
<img src="/img/lake-district/Dew.webp" loading="lazy" alt="Morning dew lit up" data-caption="Morning dew lit up" width="1080" height="">
<img src="/img/lake-district/Tree-Over-River.webp" loading="lazy" alt="Tree over river" data-caption="Tree over river" width="1080" height="">
<img src="/img/lake-district/Waterfall.webp" loading="lazy" alt="Waterfall" data-caption="Waterfall" width="1080" height="">
<img src="/img/lake-district/Red-Squirrel.webp" loading="lazy" alt="Red squirrel on wall" data-caption="Red squirrel" width="1080" height="">
<img src="/img/lake-district/Stepping-Stones.webp" loading="lazy" alt="Stepping stones" data-caption="Stepping stones" width="1080" height="">