---
layout: layouts/lightbox-template.njk
title: North York Moors
---

<img src="/img/north-yorkshire-moors/Lamb-Gate.webp" loading="lazy" alt="Lamb on Round Hill" data-caption="Lamb on Round Hill">
<img src="/img/north-yorkshire-moors/Lamb.webp" loading="lazy" alt="Lamb, Hole of Horcum" data-caption="Lamb, Hole of Horcum">
<img src="/img/north-yorkshire-moors/Mushrooms.webp" loading="lazy" alt="Mushrooms" data-caption="Mushrooms">
<img src="/img/north-yorkshire-moors/Adder.webp" loading="lazy" alt="Adder" data-caption="Adder">
<img src="/img/north-yorkshire-moors/Yellow-Hammer.webp" loading="lazy" alt="Yellow hammer on fence post" data-caption="Yellow hammer on fence post">
<img src="/img/north-yorkshire-moors/Sutton-Bank-Sunset.webp" loading="lazy" alt="Sunset from Sutton Bank" data-caption="Sunset from Sutton Bank">
<img src="/img/north-yorkshire-moors/Snow-on-the-Moors.webp" loading="lazy" alt="Snow on the moors" data-caption="Snow on the moors">
<img src="/img/north-yorkshire-moors/Grouse-In-Heather.webp" loading="lazy" alt="Red grouse in heather on Round Hill" data-caption="Red grouse in heather on Round Hill">
<img src="/img/north-yorkshire-moors/Bee-Hive-59.webp" loading="lazy" alt="Bee hives near the Bridestones" data-caption="Bee hives near the Bridestones">
<img src="/img/north-yorkshire-moors/Cotton-Grass.webp" loading="lazy" alt="Cotton grass on Round Hill" data-caption="Cotton grass on Round Hill">
<img src="/img/north-yorkshire-moors/Grouse-Close-Up.webp" loading="lazy" alt="Red grouse" data-caption="Red grouse">
<img src="/img/north-yorkshire-moors/Reed-Bunting.webp" loading="lazy" alt="Reed bunting on heather, Hole of Horcum" data-caption="Reed bunting on heather, Hole of Horcum">
<img src="/img/north-yorkshire-moors/Three-Bee-Hives.webp" loading="lazy" alt="Three bee hives near the Bridestones" data-caption="Three bee hives near the Bridestones">
<img src="/img/north-yorkshire-moors/Warbler.webp" loading="lazy" alt="Warbler" data-caption="Warbler">