---
layout: layouts/lightbox-template.njk
title: Pyrénées
---

<img src="\img\pyrenees\Rioumajou-4.jpg" loading="lazy" alt="Neste de Rioumajou" data-caption="Neste de Rioumajou" width="1080" height="810">
<img src="\img\pyrenees\Piau-Engaly-3.jpg" loading="lazy" alt="Bridge over Neste de Badet" data-caption="Bridge over Neste de Badet" width="1080" height="1350">
<img src="\img\pyrenees\Gave-du-Marcadau-B&W.jpg" loading="lazy" alt="Gave du Marcadau" data-caption="Gave du Marcadau" width="1080" height="810">
<img src="\img\pyrenees\Le-Lavedan-2.jpg" loading="lazy" alt="Vultures using a thermal to climb" data-caption="Vultures using a thermal tp climb" width="1080" height="810">
<img src="\img\pyrenees\Taillon.jpg" loading="lazy" alt="Le Taillon" data-caption="Le Taillon" width="1080" height="1440">
<img src="\img\pyrenees\Oredon-2.jpg" loading="lazy" alt="Dead tree in river above Lac d'Oredon" data-caption="Dead tree in river above Lac d'Oredon" width="1080" height="1440">
<img src="\img\pyrenees\Cascade-de-Gavarnie.jpg" loading="lazy" alt="Cascade de Gavarnie" data-caption="Cascade de Gavarnie" width="1080" height="810">
<img src="\img\pyrenees\Gave-des-Oulettes-de-Gaube.jpg" loading="lazy" alt="Waterfall, Gave des Oulettes de Gaube" data-caption="Waterfall, Gave des Oulettes de Gaube" width="1080" height="1440">
<img src="\img\pyrenees\Gave-du-Marcadau-3.jpg" loading="lazy" alt="Gave du Marcadau" data-caption="Gave du Marcadau" width="1080" height="810">
<img src="\img\pyrenees\Rioumajou-2.jpg" loading="lazy" alt="Neste de Rioumajou" data-caption="Neste de Rioumajou" width="1080" height="810">
<img src="\img\pyrenees\Vielle-Aure-2.jpg" loading="lazy" alt="Restaurant in Vielle-Aure" data-caption="Restaurant in Vielle-Aure" width="1080" height="810">
<img src="\img\pyrenees\Rioumajou-5.jpg" loading="lazy" alt="Neste de Rioumajou" data-caption="Neste de Rioumajou" width="1080" height="810">
<img src="\img\pyrenees\Rioumajou-3.jpg" loading="lazy" alt="Neste de Rioumajou" data-caption="Neste de Rioumajou" width="1080" height="1440">
<img src="\img\pyrenees\Rioumajou-6.jpg" loading="lazy" alt="Neste de Rioumajou" data-caption="Neste de Rioumajou" width="1080" height="1080">
<img src="\img\pyrenees\Montagne-D'Aumar.jpg" loading="lazy" alt="Montagne D'Aumar" data-caption="Montagne D'Aumar" width="1080" height="1440">
<img src="\img\pyrenees\Stone-Stacks.jpg" loading="lazy" alt="Stone stacks, Gavarnie" data-caption="Stone stacks, Gavarnie" width="1080" height="810">
<img src="\img\pyrenees\Glacier-du-Petit-Vignemale.jpg" loading="lazy" alt="Glacier du Petit Vignemale" data-caption="Glacier du Petit Vignemale" width="1080" height="1350">
<img src="\img\pyrenees\Vulture.jpg" loading="lazy" alt="Griffon vulture flying past Hourquette d'Alans" data-caption="Griffon vulture flying past Hourquette d'Alans" width="1080" height="810">
<img src="\img\pyrenees\Rock.jpg" loading="lazy" alt="Pattern in rock" data-caption="Pattern in rock" width="1080" height="1350">
<img src="\img\pyrenees\Mule.jpg" loading="lazy" alt="Mule outside cafe" data-caption="Mule outside cafe" width="1080" height="801">
<img src="\img\pyrenees\Green-Whip-Snake.jpg" loading="lazy" alt="Green whip snake" data-caption="Green whip snake" width="1080" height="720">
<img src="\img\pyrenees\Le-Lavedan.jpg" loading="lazy" alt="Refuge next to the river Le Lavedan" data-caption="Refuge next to the river Le Lavedan" width="1080" height="608">
<img src="\img\pyrenees\Piau-Engaly-4.jpg" loading="lazy" alt="Pond above Piau Engaly" data-caption="Pond above Piau Engaly" width="1080" height="1440">
<img src="\img\pyrenees\Vielle-Aure.jpg" loading="lazy" alt="Church in Vielle-Aure" data-caption="Church in Vielle-Aure" width="1080" height="1620">
<img src="\img\pyrenees\Black-Redstart.jpg" loading="lazy" alt="Black redstart" data-caption="Black redstart" width="1080" height="864">
<img src="\img\pyrenees\Marmot-3.jpg" loading="lazy" alt="Marmot lying on rocks" data-caption="Marmot lying on rocks" width="1080" height="720">
<img src="\img\pyrenees\Piau-Engaly-2.jpg" loading="lazy" alt="Road leading up the vally from Piau Engaly" data-caption="Road leading up the vally from Piau Engaly" width="1080" height="810">
<img src="\img\pyrenees\Common-Wall-Lizzard-2.jpg" loading="lazy" alt="Common wall lizzard behind a rose" data-caption="Common wall lizzard behind a rose" width="1080" height="1440">
<img src="\img\pyrenees\Piau-Engaly-5.jpg" loading="lazy" alt="Neste de Badet" data-caption="Neste de Badet" width="1080" height="810">
<img src="\img\pyrenees\Common-Wall-Lizzard.jpg" loading="lazy" alt="Common wall lizzard" data-caption="Common wall lizzard" width="1080" height="1440">
<img src="\img\pyrenees\Blues.jpg" loading="lazy" alt="Blues" data-caption="Blues" width="1080" height="720">
<img src="\img\pyrenees\Goats.jpg" loading="lazy" alt="Goats" data-caption="Goats" width="1080" height="1080">
<img src="\img\pyrenees\Lac-d'Aumar.jpg" loading="lazy" alt="Lac d'Aumar" data-caption="Lac d'Aumar" width="1080" height="720">
<img src="\img\pyrenees\Piau-Engaly.jpg" loading="lazy" alt="Flowers at Piau Engaly" data-caption="Flowers at Piau Engaly" width="1080" height="1440">
<img src="\img\pyrenees\Gave-du-Marcadau-VW.jpg" loading="lazy" alt="VW campervan, Gave du Marcadau" data-caption="VW campervan, Gave du Marcadau" width="1080" height="1080">
<img src="\img\pyrenees\Marmot.jpg" loading="lazy" alt="Marmot lying in the sun" data-caption="Marmot lying in the sun" width="1080" height="810">
<img src="\img\pyrenees\Misty-Mountains.jpg" loading="lazy" alt="Misty mountains" data-caption="Misty mountains" width="1080" height="1440">
<img src="\img\pyrenees\Gave-du-Marcadau-4.jpg" loading="lazy" alt="Gave du Marcadau" data-caption="Gave du Marcadau" width="1080" height="864">
<img src="\img\pyrenees\Clouded-Yellow.jpg" loading="lazy" alt="Clouded yellow" data-caption="Clouded yellow" width="1080" height="810">
<img src="\img\pyrenees\Gloriettes.jpg" loading="lazy" alt="Gloriettes" data-caption="Gloriettes" width="1080" height="1350">
<img src="\img\pyrenees\Gave-du-Marcadau-1.jpg" loading="lazy" alt="Gave du Marcadau" data-caption="Gave du Marcadau" width="1080" height="810">
<img src="\img\pyrenees\Cascade-Esplumouse.jpg" loading="lazy" alt="Cascade Esplumouse" data-caption="Cascade Esplumouse" width="1080" height="1440">
<img src="\img\pyrenees\Flowers.jpg" loading="lazy" alt="Flowers" data-caption="Flowers" width="1080" height="1080">
<img src="\img\pyrenees\Small-White.jpg" loading="lazy" alt="Small white" data-caption="Small white" width="1080" height="1440">
<img src="\img\pyrenees\Lac-de-Gobe.jpg" loading="lazy" alt="Lac de Gobe" data-caption="Lac de Gobe" width="1080" height="1440">
<img src="\img\pyrenees\Hummingbird-Hawkmoth.jpg" loading="lazy" alt="Hummingbird hawkmoth" data-caption="Hummingbird hawkmoth" width="1080" height="810">
<img src="\img\pyrenees\Swallowtail.jpg" loading="lazy" alt="Swallowtail" data-caption="Swallowtail" width="1080" height="754">
<img src="\img\pyrenees\Common-Brimstone.jpg" loading="lazy" alt="Common brimstone" data-caption="Common brimstone" width="1080" height="1440">
<img src="\img\pyrenees\Adonis-Blue.jpg" loading="lazy" alt="Adonis blue" data-caption="Adonis blue" width="1080" height="1080">
<img src="\img\pyrenees\Silver-Spotted-Skipper-2.jpg" loading="lazy" alt="Silver spotted skipper" data-caption="Silver spotted skipper" width="1080" height="1080">
<img src="\img\pyrenees\Holly-Blue.jpg" loading="lazy" alt="Holly blue" data-caption="Holly blue" width="1080" height="720">
<img src="\img\pyrenees\Silver-Spotted-Skipper.jpg" loading="lazy" alt="Silver spotted skipper" data-caption="Silver spotted skipper" width="1080" height="810">
<img src="\img\pyrenees\Southern-Pine-Hawkmoth.jpg" loading="lazy" alt="Southern pine hawkmoth" data-caption="Southern pine hawkmoth" width="1080" height="810">