---
layout: layouts/lightbox-template.njk
title: RSPB Bempton Cliffs
---

<img loading="lazy" name="bear1" src="https://images.pexels.com/photos/158109/kodiak-brown-bear-adult-portrait-wildlife-158109.jpeg" alt="Brown Bear on a Body of Water " data-caption="Brown Bear on a Body of Water ">
<img loading="lazy" name="bear2" src="https://images.pexels.com/photos/35435/pexels-photo.jpg" alt="Brown Bear" data-caption="Brown Bear">
<img loading="lazy" name="bear3" src="https://images.pexels.com/photos/158233/european-brown-bear-wild-animal-bear-dangerous-158233.jpeg" alt="Short-coated Tan Dog on Selective Focus Photo" data-caption="Short-coated Tan Dog on Selective Focus Photo">
<img loading="lazy" name="bear4" src="https://images.pexels.com/photos/1328414/pexels-photo-1328414.jpeg" alt="Photo of Grizzly Bear" data-caption="Photo of Grizzly Bear">