---
layout: layouts/lightbox-template.njk
title: RSPB Bempton Cliffs
---

<img loading="lazy" name="Puffin in flight" src="\img\rspb-bempton-cliffs\Puffin-In-Flight.jpg" alt="Puffin in flight" data-caption="Puffin in flight" width="1080" height="810">
<img loading="lazy" name="Gannets dancing" src="\img\rspb-bempton-cliffs\Gannet-Dance.jpg" alt="Gannets dancing" data-caption="Gannets dancing" width="1080" height="1080">
<img loading="lazy" name="Razzorbill in flight" src="\img\rspb-bempton-cliffs\Razorbill-In-Flight.jpg" alt="Razzorbill in flight" data-caption="Razzorbill in flight" width="1080" height="1080">
<img loading="lazy" name="Gannet collecting grass for nesting" src="\img\rspb-bempton-cliffs\Gannet-Collecting-Grass.jpg" alt="Gannet collecting grass for nesting" data-caption="Gannet collecting grass for nesting" width="1080" height="810">
<img loading="lazy" name="Puffins" src="\img\rspb-bempton-cliffs\Puffins.jpg" alt="Puffins" data-caption="Puffins" width="1080" height="810">
<img loading="lazy" name="Gannet Close Up" src="\img\rspb-bempton-cliffs\Gannet-Close-Up.jpg" alt="Gannet close up" data-caption="Gannet close up" width="1080" height="1080">
<img loading="lazy" name="Arch" src="/img/rspb-bempton-cliffs/Arch.jpg" alt="Sea arch at RSPB Bempton Cliffs" data-caption="Sea arch at RSPB Bempton Cliffs" width="1080" height="1440">
<img loading="lazy" name="Gannets dancing 2" src="\img\rspb-bempton-cliffs\Gannet-Dance-2.jpg" alt="Gannets dancing" data-caption="Gannets dancing" width="1080" height="1440">
<img loading="lazy" name="Razorbill" src="\img\rspb-bempton-cliffs\Razorbill.jpg" alt="Razorbill" data-caption="Razorbill" width="1080" height="1440">
<img loading="lazy" name="Gannet flying with grass" src="\img\rspb-bempton-cliffs\Gannet-Flying-With-Grass.jpg" alt="Gannet flying with grass" data-caption="Gannet flying with grass" width="1080" height="810">
<img loading="lazy" name="Kittiwake" src="\img\rspb-bempton-cliffs\Kittiwake.jpg" alt="Kittiwake" data-caption="Kittiwake" width="1080" height="1440">
<img loading="lazy" name="Puffin in flight 2" src="\img\rspb-bempton-cliffs\Puffin-In-Flight-2.jpg" alt="Puffin in flight" data-caption="Puffin in flight" width="1080" height="1440">
<img loading="lazy" name="Guillemots" src="\img\rspb-bempton-cliffs\Guillemots.jpg" alt="Guillemots" data-caption="Guillemots" width="1080" height="810">