---
layout: layouts/lightbox-template.njk
title: Scottish Highlands
---

<img loading="lazy" src="\img\scottish-highlands\Creag-Meagaidh.webp" alt="Creag Meagaidh" data-caption="Creag Meagaidh" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\Creag-Meagaidh-Lochan.webp" alt="Creag Meagaidh & Lochan a' Choire" data-caption="Creag Meagaidh & Lochan a' Choire" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\Misty-Mountain.webp" alt="Early cloud clearing from mountains" data-caption="Early cloud clearing from mountains" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\Forest-Path.webp" alt="Forest path" data-caption="Forest path" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\Mushrooms-in-Tree.webp" alt="Mushrooms in a tree" data-caption="Mushrooms in a tree" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\Moss.webp" alt="Moss" data-caption="Moss" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1177854(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1178014(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1178083(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1178098(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1178125(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1178129(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1188298(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1188337(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1188384(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1188409(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1188416(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1188441(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1188494(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1188516(edit).webp" alt="" data-caption="" width="1080" height="">
<img loading="lazy" src="\img\scottish-highlands\P1188583(edit).webp" alt="" data-caption="" width="1080" height="">