---
layout: layouts/lightbox-template.njk
title: Scottish Highlands
---

<img loading="lazy" src="\img\scottish-highlands\Creag-Meagaidh.webp" alt="Creag Meagaidh" data-caption="Creag Meagaidh" width="1080" height="809">
<img loading="lazy" src="\img\scottish-highlands\Creag-Meagaidh-Lochan.webp" alt="Creag Meagaidh & Lochan a' Choire" data-caption="Creag Meagaidh & Lochan a' Choire" width="1080" height="1440">
<img loading="lazy" src="\img\scottish-highlands\Misty-Mountain.webp" alt="Early cloud clearing from mountains" data-caption="Early cloud clearing from mountains" width="1080" height="720">
<img loading="lazy" src="\img\scottish-highlands\Forest-Path.webp" alt="Forest path" data-caption="Forest path" width="1080" height="1440">
<img loading="lazy" src="\img\scottish-highlands\Mushrooms-in-Tree.webp" alt="Mushrooms in a tree" data-caption="Mushrooms in a tree" width="1080" height="1439">
<img loading="lazy" src="\img\scottish-highlands\Moss.webp" alt="Moss" data-caption="Moss" width="1080" height="1440">
<img loading="lazy" src="\img\scottish-highlands\Mushrooms.webp" alt="Mushrooms" data-caption="Mushrooms" width="1080" height="1440">
<img loading="lazy" src="\img\scottish-highlands\Common-Ringed-Plover.webp" alt="Common ringed plover" data-caption="Common ringed plover" width="1080" height="720">
<img loading="lazy" src="\img\scottish-highlands\Loch-Dubh.webp" alt="Loch Dubh" data-caption="Loch Dubh" width="1080" height="807">
<img loading="lazy" src="\img\scottish-highlands\Water-of-Nevis.webp" alt="Water of Nevis" data-caption="Water of Nevis" width="1080" height="810">
<img loading="lazy" src="\img\scottish-highlands\Nevis-Gorge.webp" alt="Nevis Gorge" data-caption="Nevis Gorge" width="1080" height="1440">
<img loading="lazy" src="\img\scottish-highlands\Steall-Waterfall.webp" alt="Steall Waterfall" data-caption="Steall Waterfall" width="1080" height="1446">
<img loading="lazy" src="\img\scottish-highlands\Shells.webp" alt="Shells on a beach, Arisaig" data-caption="Shells on a beach, Arisaig" width="1080" height="810">
<img loading="lazy" src="\img\scottish-highlands\Isle-of-Rum.webp" alt="Showers over the isle of Rùm" data-caption="Showers over Rùm" width="1080" height="796">
<img loading="lazy" src="\img\scottish-highlands\Lichen.webp" alt="Lichen" data-caption="Lichen" width="1080" height="1440">
<img loading="lazy" src="\img\scottish-highlands\Isle-of-Eigg.webp" alt="Isle of Eigg" data-caption="Isle of Eigg" width="1080" height="726">
<img loading="lazy" src="\img\scottish-highlands\Camusdarach-Beach.webp" alt="Camusdarach Beach" data-caption="Camusdarach Beach" width="1080" height="720">
<img loading="lazy" src="\img\scottish-highlands\Rum-Camusdarach.webp" alt="Rùm from Camusdarach Beach" data-caption="Rùm from Camusdarach Beach" width="1080" height="1440">
<img loading="lazy" src="\img\scottish-highlands\Carn-Dearg.webp" alt="Carn Dearg" data-caption="Carn Dearg" width="1080" height="1440">
<img loading="lazy" src="\img\scottish-highlands\Carn-Dearg-2.webp" alt="Carn Dearg with wispy clouds and moon" data-caption="Carn Dearg" width="1080" height="1440">
<img loading="lazy" src="\img\scottish-highlands\Ben-Nevis.webp" alt="North face of Ben Nevis" data-caption="North face of Ben Nevis" width="1080" height="1440">