---
layout: layouts/lightbox-template.njk
title: Scotland
---

<img loading="lazy" src="\img\scotland\Spotted-Flycatcher.jpg" alt="Spotted flycatcher" data-caption="Spotted flycatcher">
<img loading="lazy" src="\img\scotland\Song-Thrush.jpg" alt="Song thrush" data-caption="Song thrush">
<img loading="lazy" src="\img\scotland\Campervan-Over-Bridge.jpg" alt="Campervan crossing bridge, Grey Mare's Tail" data-caption="Campervan crossing bridge, Grey Mare's Tail">
<img loading="lazy" src="\img\scotland\Waterfall-Grey-Mare's-Tail.jpg" alt="Grey Mare's Tail waterfall" data-caption="Grey Mare's Tail waterfall">
<img loading="lazy" src="\img\scotland\Common-Mergansers.jpg" alt="Goosanders on the River Tweed, Peebles" data-caption="Goosanders on the River Tweed, Peebles">
<img loading="lazy" src="\img\scotland\Wild-Goats.jpg" alt="Wild goats, Grey Mare's Tail Nature Reserve" data-caption="Wild goats, Grey Mare's Tail Nature Reserve">
<img loading="lazy" src="\img\scotland\Fisherman's-Store.jpg" alt="Fisherman's Store, North Berwick" data-caption="Fisherman's Store, North Berwick">
<img loading="lazy" src="\img\scotland\Grey-Heron.jpg" alt="Grey heron on the River Tweed, Peebles" data-caption="Grey heron on the River Tweed, Peebles">
<img loading="lazy" src="\img\scotland\Anchor.jpg" alt="Oak land anchor from the Shinglehook art installation, St. Mary's Loch" data-caption="Oak land anchor from the Shinglehook art installation, St. Mary's Loch">
<img loading="lazy" src="\img\scotland\North-Berwick-Beach.jpg" alt="West Bay Beach, North Berwick" data-caption="West Bay Beach, North Berwick">
<img loading="lazy" src="\img\scotland\Puffin-Catching-Sand-Eels.jpg" alt="Puffin catching sand eels" data-caption="Puffin catching sand eels">
<img loading="lazy" src="\img\scotland\Boat-North-Berwick.jpg" alt="Boat being pushed into the sea, North Berwick" data-caption="Boat being pushed into the sea, North Berwick">
<img loading="lazy" src="\img\scotland\Yellow-Boat.jpg" alt="Yellow boat on St Mary's Loch" data-caption="Yellow boat on St Mary's Loch">
<img loading="lazy" src="\img\scotland\Eider-Duck.jpg" alt="Eider duck floating over waves, North Berwick" data-caption="Eider duck floating over waves, North Berwick">
<img loading="lazy" src="\img\scotland\Priorsford-Bridge.jpg" alt="Priorsford Bridge, Peebles" data-caption="Priorsford Bridge, Peebles">
<img loading="lazy" src="\img\scotland\Bass-Rock.jpg" alt="Bass Rock form Haugh Road Beach, North Berwick" data-caption="Bass Rock form Haugh Road Beach, North Berwick">