---
layout: layouts/lightbox-template.njk
title: Vale of York
---

<img src="/img/vale-of-york/Tawny-Owl-Gravestone.jpg" loading="lazy" alt="Tawny owl on a gravestone" data-caption="Tawny owl on a gravestone">
<img src="/img/vale-of-york/Tawny-Owl.jpg" loading="lazy" alt="Tawny owl in a tree" data-caption="Tawny owl in a tree">
<img src="/img/vale-of-york/Hedgehog.jpg" loading="lazy" alt="Hedgehog under bushes" data-caption="Hedgehog under bushes">
<img src="/img/vale-of-york/Roe-Deer.jpg" loading="lazy" alt="Roe deer in long grass" data-caption="Roe deer in long grass">
<img src="/img/vale-of-york/Lamb.jpg" loading="lazy" alt="Lamb" data-caption="Lamb">
<img src="/img/vale-of-york/Reed-Bunting.jpg" loading="lazy" alt="Reed bunting" data-caption="Reed bunting">
<img src="/img/vale-of-york/Calf-Hiding.jpg" loading="lazy" alt="Calf hiding behind gate" data-caption="Calf hiding behind gate">
<img src="/img/vale-of-york/Bluebells-and-Barrels.jpg" loading="lazy" alt="Bluebells in front of rusty barrels" data-caption="Bluebells in front of rusty barrels">
<img src="/img/vale-of-york/Sheep.jpg" loading="lazy" alt="Sheep through trees" data-caption="Sheep through trees">
<img src="/img/vale-of-york/Bullfinch.jpg" loading="lazy" alt="Bullfinch" data-caption="Bullfinch">
<img src="/img/vale-of-york/Blue-Tit.jpg" loading="lazy" alt="Blue tit in a flowering hedgerow" data-caption="Blue tit in a flowering hedgerow">
<img src="/img/vale-of-york/Bee-2.jpg" loading="lazy" alt="Honeybee on a blue flower" data-caption="Honeybee on a blue flower">
<img src="/img/vale-of-york/Dandelions.jpg" loading="lazy" alt="Dandelions" data-caption="Dandelions">
<img src="/img/vale-of-york/Daffodils.jpg" loading="lazy" alt="Daffodils" data-caption="daffodils">
<img src="/img/vale-of-york/Hoverfly-Drinking.jpg" loading="lazy" alt="Hoverfly drinking from water droplet" data-caption="Hoverfly drinking from water droplet">
<img src="/img/vale-of-york/Bee-3.jpg" loading="lazy" alt="Bumblebee on flower" data-caption="Bumblebee on flower">
<img src="/img/vale-of-york/Mute-Swans.jpg" loading="lazy" alt="Mute swans following a mallard" data-caption="Mute swans following a mallard">
<img src="/img/vale-of-york/Bee.jpg" loading="lazy" alt="Bumblebee hanging from flower" data-caption="Bumblebee hanging from flower">
<img src="/img/vale-of-york/Horse.jpg" loading="lazy" alt="Horse in field with cobwebs" data-caption="Horse in field with cobwebs">
<img src="/img/vale-of-york/Leaves.jpg" loading="lazy" alt="Backlit leaves" data-caption="Backlit leaves">
<img src="/img/vale-of-york/Reflection.jpg" loading="lazy" alt="Autum puddles on a country lane" data-caption="Autum puddles on a country lane">
<img src="/img/vale-of-york/Sunset-2.jpg" loading="lazy" alt="Cow parsley at sunset" data-caption="Cow parsley at sunset">
<img src="/img/vale-of-york/Sunset.jpg" loading="lazy" alt="Tree in field at sunset" data-caption="Tree in field at sunset">
<img src="/img/vale-of-york/Red-Legged-Partridge.webp" loading="lazy" alt="Red legged partridge" data-caption="Red legged partridge">
<img src="/img/vale-of-york/Sunset-3.jpg" loading="lazy" alt="Dramatic clouds at sunset" data-caption="Dramatic clouds at sunset">
<img src="/img/vale-of-york/Sunset-Birds.jpg" loading="lazy" alt="Flock of birds flying at sunset" data-caption="Flock of birds flying at sunset">
<img src="/img/vale-of-york/Frozen-Tree-and-Sheep.jpg" loading="lazy" alt="Frozen tree and sheep" data-caption="Frozen tree and sheep">
<img src="/img/vale-of-york/Freezing-Trees.jpg" loading="lazy" alt="Frozen trees with crow flying above" data-caption="Frozen trees with crow flying above">
<img src="/img/vale-of-york/Frozen-Reeds.jpg" loading="lazy" alt="Frozen reeds with crow flying above" data-caption="Frozen reeds with crow flying above">
<img src="/img/vale-of-york/Snowy-Bridge.jpg" loading="lazy" alt="Bridge in snow" data-caption="Bridge in snow">
<img src="/img/vale-of-york/Snowy-Church.jpg" loading="lazy" alt="Church in snow" data-caption="Church in snow">
<img src="/img/vale-of-york/Snowy-Crocus.jpg" loading="lazy" alt="Snowy crocus'" data-caption="Snowy crocus'">
<img src="/img/vale-of-york/Magnolia.jpg" loading="lazy" alt="Magnolia" data-caption="Magnolia">
<img src="/img/vale-of-york/Snowdrops.jpg" loading="lazy" alt="Snowdrops and rusty fram machinary" data-caption="Snowdrops and rusty fram machinary">