---
layout: layouts/lightbox-template.njk
title: Vale of York
---

<img src="/img/vale-of-york/Tawny-Owl-Gravestone.jpg" loading="lazy" alt="Tawny owl on a gravestone" data-caption="Tawny owl on a gravestone" width="1080" height="810">
<img src="/img/vale-of-york/Tawny-Owl.jpg" loading="lazy" alt="Tawny owl in a tree" data-caption="Tawny owl in a tree" width="1080" height="1441">
<img src="/img/vale-of-york/Hedgehog.jpg" loading="lazy" alt="Hedgehog under bushes" data-caption="Hedgehog under bushes" width="1080" height="810">
<img src="/img/vale-of-york/Roe-Deer.jpg" loading="lazy" alt="Roe deer in long grass" data-caption="Roe deer in long grass" width="1080" height="1350">
<img src="/img/vale-of-york/Lamb.jpg" loading="lazy" alt="Lamb" data-caption="Lamb" width="1080" height="1080">
<img src="/img/vale-of-york/Reed-Bunting.jpg" loading="lazy" alt="Reed bunting" data-caption="Reed bunting" width="1080" height="1440">
<img src="/img/vale-of-york/Sedge-Warbler.webp" loading="lazy" alt="Sedge warbler singing" data-caption="Sedge warbler singing" width="1080" height="1440">
<img src="/img/vale-of-york/Barn-Owl.webp" loading="lazy" alt="Barn owl hunting" data-caption="Barn owl hunting" width="1080" height="1440">
<img src="/img/vale-of-york/Four-Spotted-Chaser-2.webp" loading="lazy" alt="Four spotted chaser" data-caption="Four spotted chaser" width="1080" height="1440">
<img src="/img/vale-of-york/Calf-Hiding.jpg" loading="lazy" alt="Calf hiding behind gate" data-caption="Calf hiding behind gate" width="1080" height="1440">
<img src="/img/vale-of-york/Bluebells-and-Barrels.jpg" loading="lazy" alt="Bluebells in front of rusty barrels" data-caption="Bluebells in front of rusty barrels" width="1080" height="810">
<img src="/img/vale-of-york/Sheep.jpg" loading="lazy" alt="Sheep through trees" data-caption="Sheep through trees" width="1080" height="810">
<img src="/img/vale-of-york/Bullfinch.jpg" loading="lazy" alt="Bullfinch" data-caption="Bullfinch" width="1080" height="810">
<img src="/img/vale-of-york/Blue-Tit.jpg" loading="lazy" alt="Blue tit in a flowering hedgerow" data-caption="Blue tit in a flowering hedgerow" width="1080" height="1080">
<img src="/img/vale-of-york/Bee-2.jpg" loading="lazy" alt="Honeybee on a blue flower" data-caption="Honeybee on a blue flower" width="1080" height="1439">
<img src="/img/vale-of-york/Dandelions.jpg" loading="lazy" alt="Dandelions" data-caption="Dandelions" width="1080" height="810">
<img src="/img/vale-of-york/Daffodils.jpg" loading="lazy" alt="Daffodils" data-caption="daffodils" width="1080" height="810">
<img src="/img/vale-of-york/Hoverfly-Drinking.jpg" loading="lazy" alt="Hoverfly drinking from water droplet" data-caption="Hoverfly drinking from water droplet" width="1080" height="810">
<img src="/img/vale-of-york/Bee-3.jpg" loading="lazy" alt="Bumblebee on flower" data-caption="Bumblebee on flower" width="1080" height="810">
<img src="/img/vale-of-york/Mute-Swans.jpg" loading="lazy" alt="Mute swans following a mallard" data-caption="Mute swans following a mallard" width="1080" height="1080">
<img src="/img/vale-of-york/Bee.jpg" loading="lazy" alt="Bumblebee hanging from flower" data-caption="Bumblebee hanging from flower" width="1080" height="1350">
<img src="/img/vale-of-york/Horse.jpg" loading="lazy" alt="Horse in field with cobwebs" data-caption="Horse in field with cobwebs" width="1080" height="1441">
<img src="/img/vale-of-york/Leaves.jpg" loading="lazy" alt="Backlit leaves" data-caption="Backlit leaves" width="1080" height="1440">
<img src="/img/vale-of-york/Reflection.jpg" loading="lazy" alt="Autum puddles on a country lane" data-caption="Autum puddles on a country lane" width="1080" height="1440">
<img src="/img/vale-of-york/Sunset-2.jpg" loading="lazy" alt="Cow parsley at sunset" data-caption="Cow parsley at sunset" width="1080" height="1080">
<img src="/img/vale-of-york/Sunset.jpg" loading="lazy" alt="Tree in field at sunset" data-caption="Tree in field at sunset" width="1080" height="1350">
<img src="/img/vale-of-york/Red-Legged-Partridge.webp" loading="lazy" alt="Red legged partridge" data-caption="Red legged partridge" width="1080" height="720">
<img src="/img/vale-of-york/Rabbit-Sunset.webp" loading="lazy" alt="Rabbit in field at sunset" data-caption="Rabbit at sunset" width="1080" height="810">
<img src="/img/vale-of-york/Sunset-3.jpg" loading="lazy" alt="Dramatic clouds at sunset" data-caption="Dramatic clouds at sunset" width="1080" height="607">
<img src="/img/vale-of-york/Sunset-Birds.jpg" loading="lazy" alt="Flock of birds flying at sunset" data-caption="Flock of birds flying at sunset" width="1080" height="720">
<img src="/img/vale-of-york/Sunset-Farmland.webp" loading="lazy" alt="Sunset over farmland" data-caption="Sunset" width="1080" height="810">
<img src="/img/vale-of-york/Frozen-Tree-and-Sheep.jpg" loading="lazy" alt="Frozen tree and sheep" data-caption="Frozen tree and sheep" width="1080" height="1440">
<img src="/img/vale-of-york/Freezing-Trees.jpg" loading="lazy" alt="Frozen trees with crow flying above" data-caption="Frozen trees with crow flying above" width="1080" height="720">
<img src="/img/vale-of-york/Frozen-Reeds.jpg" loading="lazy" alt="Frozen reeds with crow flying above" data-caption="Frozen reeds with crow flying above" width="1080" height="1440">
<img src="/img/vale-of-york/Snowy-Bridge.jpg" loading="lazy" alt="Bridge in snow" data-caption="Bridge in snow" width="1080" height="810">
<img src="/img/vale-of-york/Snowy-Church.jpg" loading="lazy" alt="Church in snow" data-caption="Church in snow" width="1080" height="1440">
<img src="/img/vale-of-york/Snowy-Crocus.jpg" loading="lazy" alt="Snowy crocus'" data-caption="Snowy crocus'" width="1080" height="810">
<img src="/img/vale-of-york/Magnolia.jpg" loading="lazy" alt="Magnolia" data-caption="Magnolia" width="1080" height="810">
<img src="/img/vale-of-york/Snowdrops.jpg" loading="lazy" alt="Snowdrops and rusty fram machinary" data-caption="Snowdrops and rusty fram machinary" width="1080" height="810">

