---
layout: layouts/lightbox-template.njk
title: Vale of York
---

<img src="/img/vale-of-york/Tawny-Owl-Gravestone.jpg" loading="lazy" alt="Tawny owl on a gravstone" data-caption="Tawny owl on a gravstone">
<img src="/img/vale-of-york/Tawny-Owl.jpg" loading="lazy">
<img src="/img/vale-of-york/Hedgehog.jpg" loading="lazy">
<img src="/img/vale-of-york/Roe-Deer.jpg" loading="lazy">
<img src="/img/vale-of-york/Lamb.jpg" loading="lazy">
<img src="/img/vale-of-york/Reed-Bunting.jpg" loading="lazy">
<img src="/img/vale-of-york/Calf-Hiding.jpg" loading="lazy">
<img src="/img/vale-of-york/Bluebells-and-Barrels.jpg" loading="lazy">
<img src="/img/vale-of-york/Sheep.jpg" loading="lazy">
<img src="/img/vale-of-york/Bullfinch.jpg" loading="lazy">
<img src="/img/vale-of-york/Blue-Tit.jpg" loading="lazy">
<img src="/img/vale-of-york/Bee-2.jpg" loading="lazy">
<img src="/img/vale-of-york/Dandelions.jpg" loading="lazy">
<img src="/img/vale-of-york/Daffodils.jpg" loading="lazy">
<img src="/img/vale-of-york/Hoverfly-Drinking.jpg" loading="lazy">
<img src="/img/vale-of-york/Bee-3.jpg" loading="lazy">
<img src="/img/vale-of-york/Mute-Swans.jpg" loading="lazy">
<img src="/img/vale-of-york/Bee.jpg" loading="lazy">
<img src="/img/vale-of-york/Horse.jpg" loading="lazy">
<img src="/img/vale-of-york/Leaves.jpg" loading="lazy">
<img src="/img/vale-of-york/Reflection.jpg" loading="lazy">
<img src="/img/vale-of-york/Sunset-2.jpg" loading="lazy">
<img src="/img/vale-of-york/Sunset.jpg" loading="lazy">
<img src="/img/vale-of-york/Sutton-Bank-Sunset.jpg" loading="lazy">
<img src="/img/vale-of-york/Sunset-3.jpg" loading="lazy">
<img src="/img/vale-of-york/Sunset-Birds.jpg" loading="lazy">
<img src="/img/vale-of-york/Frozen-Tree-and-Sheep.jpg" loading="lazy">
<img src="/img/vale-of-york/Freezing-Trees.jpg" loading="lazy">
<img src="/img/vale-of-york/Frozen-Reeds.jpg" loading="lazy">
<img src="/img/vale-of-york/Snowy-Bridge.jpg" loading="lazy">
<img src="/img/vale-of-york/Snowy-Church.jpg" loading="lazy">
<img src="/img/vale-of-york/Snowy-Crocus.jpg" loading="lazy">
<img src="/img/vale-of-york/Magnolia.jpg" loading="lazy">
<img src="/img/vale-of-york/Snowdrops.jpg" loading="lazy">