---
layout: layouts/lightbox-template.njk
title: Yorkshire Dales
---

<img src="\img\yorkshire-dales\Malham-Sunset.jpg" loading="lazy" alt="Sunset on top of Malham Cove" data-caption="Sunset on top of Malham Cove" width="1080" height="810">
<img src="\img\yorkshire-dales\Goosander.jpg" loading="lazy" alt="Goosanders on the River Skirfare, Arncliffe" data-caption="Goosanders on the River Skirfare, Arncliffe" width="1080" height="1440">
<img src="\img\yorkshire-dales\Hut.jpg" loading="lazy" alt="Stone hut near Kettlewell" data-caption="Stone hut near Kettlewell" width="1080" height="810">
<img src="\img\yorkshire-dales\Grey-Heron.jpg" loading="lazy" alt="Grey heron next to the River Wharfe" data-caption="Grey heron next to the River Wharfe" width="1080" height="1440">
<img src="\img\yorkshire-dales\Mandarin-Duck.jpg" loading="lazy" alt="Female mandarin duck" data-caption="Female mandarin duck" width="1080" height="1440">
<img src="\img\yorkshire-dales\Mallard.jpg" loading="lazy" alt="Mallard standing in shallow water" data-caption="Mallard standing in shallow water" width="1080" height="1440">
<img src="\img\yorkshire-dales\Moss-Forest.jpg" loading="lazy" alt="Moss forest" data-caption="Moss forest" width="1080" height="540">
<img src="\img\yorkshire-dales\Lamb.jpg" loading="lazy" alt="Lamb on limestone pavement near Gordale Scar" data-caption="Lamb on limestone pavement near Gordale Scar" width="1080" height="810">
<img src="\img\yorkshire-dales\Pied-Flycatcher.jpg" loading="lazy" alt="Male pied flycatcher returning to nest box with insects" data-caption="Male pied flycatcher returning to nest box with insects" width="1080" height="1439">
<img src="\img\yorkshire-dales\Chaffinch.jpg" loading="lazy" alt="Chaffinch" data-caption="Chaffinch" width="1080" height="1440">
<img src="\img\yorkshire-dales\Red-Grouse.jpg" loading="lazy" alt="Red grouse" data-caption="Red grouse" width="1080" height="720">
<img src="\img\yorkshire-dales\Mallard-2.jpg" loading="lazy" alt="Mallard on colourful river" data-caption="Mallard on colourful river" width="1080" height="810">