---
layout: layouts/lightbox-template.njk
title: Yorkshire Dales
---

<img src="\img\yorkshire-dales\Malham-Sunset.jpg" loading="lazy" alt="Sunset on top of Malham Cove" data-caption="Sunset on top of Malham Cove" width="1080" height="810">
<img src="\img\yorkshire-dales\Goosander.jpg" loading="lazy" alt="Goosanders on the River Skirfare, Arncliffe" data-caption="Goosanders on the River Skirfare, Arncliffe" width="1080" height="1440">
<img src="\img\yorkshire-dales\Hut.jpg" loading="lazy" alt="Stone hut near Kettlewell" data-caption="Stone hut near Kettlewell" width="1080" height="810">
<img src="\img\yorkshire-dales\Grey-Heron.jpg" loading="lazy" alt="Grey heron next to the River Wharfe" data-caption="Grey heron next to the River Wharfe" width="1080" height="1440">
<img src="\img\yorkshire-dales\Mandarin-Duck.jpg" loading="lazy" alt="Female mandarin duck" data-caption="Female mandarin duck" width="1080" height="1440">
<img src="\img\yorkshire-dales\Mallard.jpg" loading="lazy" alt="Mallard standing in shallow water" data-caption="Mallard standing in shallow water" width="1080" height="1440">
<img src="\img\yorkshire-dales\Moss-Forest.jpg" loading="lazy" alt="Moss forest" data-caption="Moss forest" width="1080" height="540">
<img src="\img\yorkshire-dales\Arncliffe.webp" loading="lazy" alt="Arncliffe" data-caption="Arncliffe" width="1080" height="809">
<img src="\img\yorkshire-dales\Pied-Flycatcher.jpg" loading="lazy" alt="Male pied flycatcher returning to nest box with insects" data-caption="Male pied flycatcher returning to nest box with insects" width="1080" height="1439">
<img src="\img\yorkshire-dales\Chaffinch.jpg" loading="lazy" alt="Chaffinch" data-caption="Chaffinch" width="1080" height="1440">
<img src="\img\yorkshire-dales\Lamb.jpg" loading="lazy" alt="Lamb on limestone pavement near Gordale Scar" data-caption="Lamb on limestone pavement near Gordale Scar" width="1080" height="810">
<img src="\img\yorkshire-dales\Mallard-2.jpg" loading="lazy" alt="Mallard on colourful river" data-caption="Mallard on colourful river" width="1080" height="810">
<img src="\img\yorkshire-dales\Red-Grouse.jpg" loading="lazy" alt="Red grouse" data-caption="Red grouse" width="1080" height="720">
<img src="\img\yorkshire-dales\Old-Cote-Little-Moor.webp" loading="lazy" alt="Old Cote Little Moor, between Kettlewell & Arncliffe" data-caption="Old Cote Little Moor, between Kettlewell & Arncliffe" width="1080" height="1439">
<img src="\img\yorkshire-dales\Tractor.webp" loading="lazy" alt="Tractor, Grassington" data-caption="Tractor, Grassington" width="1080" height="810">
<img src="\img\yorkshire-dales\Linton-Falls.webp" loading="lazy" alt="Linton Falls near Grassington" data-caption="Linton Falls" width="1080" height="810">
<img src="\img\yorkshire-dales\Stepping-Stones-Underwater.webp" loading="lazy" alt="Stepping stones under the river Wharfe" data-caption="Stepping stones under the river Wharfe" width="1080" height="1461">
<img src="\img\yorkshire-dales\River-Wharfe.webp" loading="lazy" alt="The River Wharfe" data-caption="The River Wharfe" width="1080" height="1440">
<img src="\img\yorkshire-dales\Burnsall-Car-Park.webp" loading="lazy" alt="Burnsall car park" data-caption="Burnsall car park" width="1080" height="1080">
<img src="\img\yorkshire-dales\Hebden-Bridge.webp" loading="lazy" alt="Hebden Bridge in autum" data-caption="Hebden Bridge" width="1080" height="820">
<img src="\img\yorkshire-dales\Burnsall.webp" loading="lazy" alt="Burnsall in autum" data-caption="Burnsall" width="1080" height="810">
<img src="\img\yorkshire-dales\Tree-Burnsall.webp" loading="lazy" alt="Tree behind a stone wall in autum, Burnsall" data-caption="Tree in autum, Burnsall" width="1080" height="1458">
<img src="\img\yorkshire-dales\Mushroom.webp" loading="lazy" alt="Mushroom on a tree" data-caption="Mushroom on a tree" width="1080" height="810">
<img src="\img\yorkshire-dales\Robin.webp" loading="lazy" alt="Robin on drystone wall" data-caption="Robin" width="1080" height="1349">