// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #808da4;
$info: #393f5d;
$success: #5ca569;
$warning: #d99531;
$danger: #f44336;
$secondary: #F2F4F3;

// Navbar

$navbar-light-color: $secondary;
$navbar-light-hover-color: #957D60;
$navbar-light-active-color: $secondary;
$navbar-light-brand-color:          $navbar-light-active-color;
$navbar-light-brand-hover-color:    $navbar-light-hover-color;
$navbar-light-icon-color:   $secondary;
$navbar-light-toggler-border-color:     $secondary;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "accent": #957D60,
    "dark-accent": #965749,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here