---
layout: layouts/base.njk
title: Gallery
---

<div class="p-5 text-center">
  <h1 class="text-primary">Gallery</h1>
  <p class="text-info">Welcome to the gallery!</p>
</div>

<div class="container-fluid p-2 p-sm-3 p-xl-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-2 g-sm-3 g-xl-5">
        <div class="col">
            <div class="card h-100 bg-info">
                <a href="/gallery/rspb-bempton-cliffs">
                    <img loading="lazy" class="card-img-top" name="Puffin in flight" src="\img\rspb-bempton-cliffs\Puffin-In-Flight.jpg" alt="Puffin in flight" data-caption="Puffin in flight">
                <div class="card-body">
                  <h5 class="card-title text-primary">RSPB Bempton Cliffs</h5>
                  <p class="card-text text-secondary">Cliffs home to seabirds - including puffins, razzorbills, and gannets - on the east coast of Yorkshire.</p>
                </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>