---
layout: layouts/base.njk
title: Gallery
---

<div class="p-5 text-center">
  <h1 class="text-primary">Gallery</h1>
  <p class="text-info">Welcome to the gallery!</p>
</div>

<div class="container-fluid p-2 pt-0 p-sm-3 pt-sm-0 p-xl-5 pt-xl-0">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-2 g-sm-3 g-xl-5">
        <div class="col">
            <div class="card h-100 bg-info">
                <a href="/gallery/rspb-bempton-cliffs" style="height: 100%;">
                    <img loading="lazy" class="card-img-top" src="\img\rspb-bempton-cliffs\Puffin-In-Flight.jpg" alt="Puffin in flight">
                    <div class="card-body">
                        <h5 class="card-title text-primary">RSPB Bempton Cliffs</h5>
                        <p class="card-text text-secondary">Cliffs home to seabirds - including puffins, razzorbills, and gannets - on the east coast of Yorkshire.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-info">
                <a href="/gallery/vale-of-york" style="height: 100%;">
                    <img loading="lazy" src="\img\vale-of-york\Tawny-Owl-Gravestone.jpg" class="card-img-top" alt="Tawny owl on a gravestone">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Vale of York</h5>
                        <p class="card-text text-secondary"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-info">
                <a href="/gallery/yorkshire-dales" style="height: 100%;">
                    <img loading="lazy" src="\img\yorkshire-dales\Lamb.jpg" class="card-img-top" alt="Lamb on limestone pavement near Gordale Scar">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Yorkshire Dales</h5>
                        <p class="card-text text-secondary"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-info">
                <a href="/gallery/scotland" style="height: 100%;">
                    <img loading="lazy" src="\img\scotland\Bass-Rock.jpg" class="card-img-top" alt="Bass Rock">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Scotland</h5>
                        <p class="card-text text-secondary">Photos from the Scottish Borders and East Lothian.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-info">
                <a href="/gallery/french-alps" style="height: 100%;">
                    <img loading="lazy" src="\img\french-alps\Misty-Mountain-3.jpg" class="card-img-top" alt="Mountain peak showing through clouds">
                    <div class="card-body">
                        <h5 class="card-title text-primary">French Alps</h5>
                        <p class="card-text text-secondary">Dramatic scenary and alpine wildlife.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-info">
                <a href="/gallery/pyrenees" style="height: 100%;">
                    <img loading="lazy" src="\img\pyrenees\Marmot.jpg" class="card-img-top" alt="Marmot lying in the sun">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Pyr&#233;n&#233;es</h5>
                        <p class="card-text text-secondary">Mountains, rivers, and wildlife in the south of France.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-info">
                <a href="/gallery/north-yorkshire-moors" style="height: 100%;">
                    <img loading="lazy" src="..." class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-primary">North Yorkshire Moors</h5>
                        <p class="card-text text-secondary">Coming soon!</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-info">
                <a href="/gallery/my-favourites" style="height: 100%;">
                    <img loading="lazy" src="..." class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-primary">My Favourites</h5>
                        <p class="card-text text-secondary">Coming soon!</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>