---
layout: layouts/base.njk
title: Home
---

<div id="first-container" class="container-fluid bg-secondary p-3 p-md-5">
  <div class="image-gallery row row-cols-1 row-cols-sm-3 g-3">
    <div class="col g-3">
      <img loading="lazy" class="img-fluid mb-3" name="Puffin in flight" src="\img\rspb-bempton-cliffs\Puffin-In-Flight.jpg" alt="Puffin in flight" data-caption="Puffin in flight" width="1080" height="810">
      <img src="\img\pyrenees\Piau-Engaly-3.jpg" loading="lazy" alt="Bridge over Neste de Badet" data-caption="Bridge over Neste de Badet" width="1080" height="1350" class="img-fluid">
    </div>
    <div class="col g-3">
      <img src="\img\pyrenees\Lac-de-Gobe.jpg" loading="lazy" alt="Lac de Gobe" data-caption="Lac de Gobe" width="1080" height="1440" class="img-fluid mb-3">
      <img src="\img\french-alps\Stoat-Running.jpg" loading="lazy" alt="Stoat running in meadow" data-caption="Stoat running in meadow" width="1080" height="720" class="img-fluid">
    </div>
    <div class="col g-3">
      <img src="\img\pyrenees\Gave-du-Marcadau-1.jpg" loading="lazy" alt="Gave du Marcadau" data-caption="Gave du Marcadau" width="1080" height="810" class="img-fluid mb-3">
      <img loading="lazy" src="\img\scotland\Priorsford-Bridge.jpg" alt="Priorsford Bridge, Peebles" data-caption="Priorsford Bridge, Peebles" width="1080" height="1350" class="img-fluid">
    </div>
  </div>
  <div class="text-center py-5 d-grid d-sm-block">
    <h2 class="text-center text-info pb-2">Click to see more of my favourite photos</h2>
    <a type="button" href="/gallery/favourites/" class="btn btn-lg btn-primary text-secondary">Favourites</a>
  </div>
  <div class="image-gallery row row-cols-1 row-cols-sm-3 g-3">
    <div class="col g-3">
      <img loading="lazy" src="\img\scotland\Eider-Duck.jpg" alt="Eider duck floating over waves, North Berwick" data-caption="Eider duck floating over waves, North Berwick" width="1080" height="810" class="img-fluid">
    </div>
    <div class="col g-3">
      <img src="\img\yorkshire-dales\Burnsall.webp" loading="lazy" alt="Burnsall in autum" data-caption="Burnsall" width="1080" height="810" class="img-fluid">
    </div>
    <div class="col g-3">
      <img src="/img/north-yorkshire-moors/Lamb-Gate.webp" loading="lazy" alt="Lamb on Round Hill" data-caption="Lamb on Round Hill" width="1080" height="810" class="img-fluid">
    </div>
  </div>
  <div class="text-center pt-5 d-grid d-sm-block">
    <h3 class="text-center text-info pb-2">... or check out the gallery to see even more!</h3>
    <a type="button" href="/gallery/" class="btn btn-lg btn-primary text-secondary">Gallery</a>
  </div>
</div>

<div class="container-fluid bg-secondary p-5 flex-row d-md-flex align-items-center">
  <div class="col-12 col-md-4 text-center">
    <img class="rounded-circle avatar" src="/img/homepage/MF-480.webp" loading="lazy" alt="Black & white photo of Matthew">
  </div>
  <div class="col-12 col-md-8 pe-md-3 pe-lg-4 pe-xxl-5 pt-5 pt-md-0">
    <p class="text-center text-info">My name is Matthew Feaster, I'm an amateur photographer living in North Yorkshire. I started doing photography in 2021 while I was a uni student,
      taking shots of wildlife at a local nature reserve. Since then, I've also been doing landscape photography alongside wildlife, and recently macro
      - I'm close enough to the Yorkshire Dales and North York Moors to be able to vist them for their amazing scenery. I also have photos from holidays to
      Scotland, the French Alps and Pyr&#233;n&#233;es.</p>
  </div>
</div>

<style>
  body {
    background-image: url("/img/french-alps/Les-Dents-du-Midi-4k.jpg");
    background-size: 100%;
	  background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 56px;
  }

  @media (max-width: 576px){
    body {
      background-image: url("/img/french-alps/Mountains-Panorama-Sunset.jpg");
    }
  }

  #first-container {
    margin-top: calc(33vw - 5px);
    box-shadow: 0px -5px 5px 0px rgb(73, 74, 72, 0.2);
  }

  .avatar {
    height: 300px;
    width: 300px;
  }

  @media (max-width: 1200px){
    .avatar{
      height: 20vw;
      width: 20vw;
    }
  }

  @media (max-width: 768px){
    .avatar{
      height: 200px;
      width: 200px;
    }
  }
</style>