---
layout: layouts/base.njk
title: Home
---

<div id="first-container" class="image-grid container-fluid bg-secondary p-3 p-md-5">
  <div class="row g-3">
    <div class="col-12 col-md-4">
      <figure class="mb-3">
        <a class="d-block" href>
          <img loading="lazy" class="img-fluid" name="Puffin in flight" src="\img\rspb-bempton-cliffs\Puffin-In-Flight.jpg" alt="Puffin in flight, RSPB Bempton Cliffs" data-caption="Puffin in flight, RSPB Bempton Cliffs" width="1080" height="810" index="0">
        </a>
      </figure>
      <figure class="mb-3">
        <a class="d-block" href>
          <img src="\img\pyrenees\Piau-Engaly-3.jpg" loading="lazy" alt="Bridge over Neste de Badet, French Pyrénées" data-caption="Bridge over Neste de Badet, French Pyrénées" width="1080" height="1350" class="img-fluid" index="1">
        </a>
      </figure>
    </div>
    <div class="col-12 col-md-4">
      <figure class="mb-3">
        <a class="d-block" href>
          <img src="\img\pyrenees\Lac-de-Gobe.jpg" loading="lazy" alt="Lac de Gobe, French Pyrénées" data-caption="Lac de Gobe, French Pyrénées" width="1080" height="1440" class="img-fluid" index="2">
        </a>
      </figure>
      <figure class="mb-3">
        <a class="d-block" href>
          <img src="\img\french-alps\Stoat-Running.jpg" loading="lazy" alt="Stoat running in an alpine meadow" data-caption="Stoat running in an alpine meadow" width="1080" height="720" class="img-fluid" index="3">
        </a>
      </figure>
    </div>
    <div class="col-12 col-md-4">
      <figure class="mb-3">
        <a class="d-block" href>
          <img src="\img\pyrenees\Gave-du-Marcadau-1.jpg" loading="lazy" alt="Gave du Marcadau, French Pyrénées" data-caption="Gave du Marcadau, French Pyrénées" width="1080" height="810" class="img-fluid" index="4">
        </a>
      </figure>
      <figure class="mb-3">
        <a class="d-block" href>
          <img loading="lazy" src="\img\scotland\Priorsford-Bridge.jpg" alt="Priorsford Bridge, Peebles" data-caption="Priorsford Bridge, Peebles" width="1080" height="1350" class="img-fluid" index="5">
        </a>
      </figure>
    </div>
  </div>
  <div class="text-center py-5 d-grid d-sm-block">
    <h2 class="text-center text-info pb-2">Click to see more of my favourite photos</h2>
    <a type="button" href="/gallery/favourites/" class="btn btn-lg btn-primary text-secondary">Favourites</a>
  </div>
  <div class="row g-3">
    <div class="col-12 col-md-4">
      <figure class="mb-3">
        <a class="d-block" href>
          <img loading="lazy" src="\img\scotland\Eider-Duck.jpg" alt="Eider duck floating over waves, North Berwick" data-caption="Eider duck floating over waves, North Berwick" width="1080" height="810" class="img-fluid" index="6">
        </a>
      </figure>
    </div>
    <div class="col-12 col-md-4">
      <figure class="mb-3">
        <a class="d-block" href>
          <img src="\img\yorkshire-dales\Burnsall.webp" loading="lazy" alt="Burnsall in autum" data-caption="Burnsall, Yorkshire Dales" width="1080" height="810" class="img-fluid" index="7">
        </a>
      </figure>
    </div>
    <div class="col-12 col-md-4">
      <figure class="mb-3">
        <a class="d-block" href>
          <img src="/img/north-yorkshire-moors/Lamb-Gate.webp" loading="lazy" alt="Lamb on Round Hill" data-caption="Lamb on Round Hill, North York Moors" width="1080" height="810" class="img-fluid" index="8">
        </a>
      </figure>
    </div>
  </div>
  <div class="text-center pt-5 d-grid d-sm-block">
    <h3 class="text-center text-info pb-2">... or check out the gallery to see even more!</h3>
    <a type="button" href="/gallery/" class="btn btn-lg btn-primary text-secondary">Gallery</a>
  </div>
</div>

<div class="container-fluid bg-secondary p-5 flex-row d-md-flex align-items-center">
  <div class="col-12 col-md-4 text-center">
    <img class="rounded-circle avatar" src="/img/homepage/MF-480.webp" loading="lazy" alt="Black & white photo of Matthew">
  </div>
  <div class="col-12 col-md-8 pe-md-3 pe-lg-4 pe-xxl-5 pt-5 pt-md-0">
    <p class="text-center text-info">My name is Matthew Feaster, I'm an amateur photographer living in North Yorkshire. I started doing photography in 2021 while I was a uni student,
      taking shots of wildlife at a local nature reserve. Since then, I've also been doing landscape photography alongside wildlife, and recently macro
      - I'm close enough to the Yorkshire Dales and North York Moors to be able to vist them for their amazing scenery. I also have photos from holidays to
      Scotland, the French Alps and Pyr&#233;n&#233;es.</p>
  </div>
</div>

<div class="modal lightbox-modal" id="lightbox-modal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">
        <div class="container-fluid p-0">
          <!-- JS content here -->
        </div>
      </div>
    </div>
  </div>
</div>       

<style>
  body {
    background-image: url("/img/french-alps/Les-Dents-du-Midi-4k.jpg");
    background-size: 100%;
	  background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 56px;
  }

  @media (max-width: 576px){
    body {
      background-image: url("/img/french-alps/Mountains-Panorama-Sunset.jpg");
    }
  }

  #first-container {
    margin-top: calc(33vw - 5px);
    box-shadow: 0px -5px 5px 0px rgb(73, 74, 72, 0.2);
  }

  .avatar {
    height: 300px;
    width: 300px;
  }

  @media (max-width: 1200px){
    .avatar{
      height: 20vw;
      width: 20vw;
    }
  }

  @media (max-width: 768px){
    .avatar{
      height: 200px;
      width: 200px;
    }
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>
  const imageGrid = document.querySelector(".image-grid");
  const links = imageGrid.querySelectorAll("a");
  const imgs = imageGrid.querySelectorAll("img");
  const lightboxModal = document.getElementById("lightbox-modal");
  const bsModal = new bootstrap.Modal(lightboxModal);
  const modalBody = document.querySelector(".modal-body .container-fluid");

  for (const link of links) {
    if (link.type !== "button") {
      link.addEventListener("click", function (e) {
        e.preventDefault();
        const currentImg = link.querySelector("img");
        const lightboxCarousel = document.getElementById("lightboxCarousel");
        if (lightboxCarousel) {
          const index = currentImg.getAttribute("index");
          const bsCarousel = new bootstrap.Carousel(lightboxCarousel);
          bsCarousel.to(index);
        } else {
          createCarousel(currentImg);
        }
        bsModal.show();
      });
    };
  }

  function createCarousel(img) {
    const markup = `
      <div id="lightboxCarousel" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          ${createSlides(img)}
        </div> 
        <button class="carousel-control-prev" type="button" data-bs-target="#lightboxCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#lightboxCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      `;

    modalBody.innerHTML = markup;
  }

  function createSlides(img) {
    let markup = "";
    const currentImgSrc = img.getAttribute("src");

    for (const img of imgs) {
      const imgSrc = img.getAttribute("src");
      const imgAlt = img.getAttribute("alt");
      const imgCaption = img.getAttribute("data-caption");
      const imgName = img.getAttribute("name");

      if (imgSrc) {
        markup += `
        <div class="carousel-item${currentImgSrc === imgSrc ? " active" : ""}">
          <img src=${imgSrc} alt=${imgAlt}>
          ${imgCaption ? createCaption(imgCaption) : ""}
        </div>
        `;
      };
    }

    return markup;
  }

  function createCaption(caption) {
    return `<div class="carousel-caption">
      <p class="m-0">${caption}</p>
      </div>`;
  }

</script>