---
layout: layouts/base.njk
title: My Gear
---

<div class="p-5 text-center">
  <h1 class="text-primary">My Gear</h1>
  <p class="text-info"></p>
</div>

<div class="container-fluid bg-secondary p-5 text-info text-center">
    <div class="row flex-row d-md-flex align-items-center">
        <div class="col-12 col-md-6">Image here</div>
        <div class="col-12 col-md-6">
            <h3>Panasonic G9</h3>
            <p>description here</p>
        </div>
    </div>
    <div class="row flex-row d-md-flex align-items-center">
        <div class="col-12 col-md-6 order-md-1">Image here</div>
        <div class="col-12 col-md-6 order-md-0">
            <h3>Panasonic-Leica 12-60 f2.8-4</h3>
            <p></p>
        </div>
    </div>
    <div class="row flex-row d-md-flex align-items-center">
        <div class="col-12 col-md-6">Image here</div>
        <div class="col-12 col-md-6">
            <h3>Panasonic-Leica 100-400 f4-6.3</h3>
            <p>A 200-800mm ff equivalent lens but at half the weight, and all metal construction too. The big sacrifice is that it's not a very wide lens, so struggles when it gets dark. Also, like other reviews my zoom isn't smooth either. Overall a good lens though, and the extra reach over the smaller pana 100-300 comes in handy.</p>
        </div>
    </div>
    <div class="row flex-row d-md-flex align-items-center">
        <div class="col-12 col-md-6 order-md-1">Image here</div>
        <div class="col-12 col-md-6 order-md-0">
            <h3>Laowa 7.5mm f2</h3>
            <p>description here</p>
        </div>
    </div>
    <div class="row flex-row d-md-flex align-items-center">
        <div class="col-12 col-md-6">Image here</div>
        <div class="col-12 col-md-6">
            <h3>Olympus M.Zuiko 60mm f2.8 macro</h3>
            <p>description here</p>
        </div>
    </div>
    <div class="row flex-row d-md-flex align-items-center">
        <div class="col-12 col-md-6 order-md-1">Image here</div>
        <div class="col-12 col-md-6 order-md-0">
            <h3>Affinity Photo 2</h3>
            <p>description here</p>
        </div>
    </div>
    <div class="row flex-row d-md-flex align-items-center">
        <div class="col-12 col-md-6">Image here</div>
        <div class="col-12 col-md-6">
            <h3>DxO PureRaw 3</h3>
            <p>description here</p>
        </div>
    </div>
</div>