<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }} &middot; {{ metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-md bg-white fixed-top">
  				<div class="container-fluid px-sm-3">
    				<a class="navbar-brand" href="/index">Matthew Feaster</a>
    				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      					<span class="navbar-toggler-icon"></span>
    				</button>
    				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      					<ul class="navbar-nav">
        					<li class="nav-item">
          						<a class="nav-link" href="/index">Home</a>
        					</li>
							<li class="nav-item">
								<a class="nav-link" href="/gallery">Gallery</a>
						  	</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<main id="skip" style="margin-top: 57px;">
			{{ content | safe }}
		</main>

		<footer class="footer mt-auto py-3">
			<div class="container text-center text-dark">
				<p class="m-0 p-0">&copy Matthew Feaster</p>
			</div>
		</footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

	</body>
</html>
